<%- include("../../partials/header.ejs") %>

<div class="container">
  <div class="p-5 mb-4 bg-light rounded-3">
    <h1>This is a cool way of learning new NodeJS.</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla maxime
      facilis nam eum beatae accusamus. Harum ex tempora debitis dolore aliquid,
      aut minus optio voluptatum quidem nesciunt fuga nemo eaque.
    </p>
  </div>
</div>

<%- include("../../partials/footer.ejs") %>
</body>
</html>
