<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>We are learning EJS 🛫</title>
  </head>
  <body>
    <h1>EJS is an Awesome Template Engine 🔺</h1>

    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi
      exercitationem nulla, explicabo rerum cumque harum rem accusantium quia ut
      expedita?
    </p>

    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi
      exercitationem nulla, explicabo rerum cumque harum rem accusantium quia ut
      expedita?
    </p>
  </body>
</html>
